USE [master]
GO
/****** Object:  Database [Cars]    Script Date: 20/06/2018 04:49:34 ******/
CREATE DATABASE [Cars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cars', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Cars.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cars_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Cars_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cars]
GO
USE [Cars]
GO
/****** Object:  Table [dbo].[Acessorio]    Script Date: 20/06/2018 04:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acessorio](
	[AcessorioId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Acessorio] PRIMARY KEY CLUSTERED 
(
	[AcessorioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carro]    Script Date: 20/06/2018 04:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carro](
	[CarroId] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[DataCompra] [date] NOT NULL,
	[Descricao] [text] NULL,
	[Cor] [int] NOT NULL,
 CONSTRAINT [PK_Carro] PRIMARY KEY CLUSTERED 
(
	[CarroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarroAcessorio]    Script Date: 20/06/2018 04:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarroAcessorio](
	[CarroAcessorioId] [int] IDENTITY(1,1) NOT NULL,
	[CarroId] [int] NOT NULL,
	[AcessorioId] [int] NOT NULL,
 CONSTRAINT [PK_CarroAcessorio] PRIMARY KEY CLUSTERED 
(
	[CarroAcessorioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarroAcessorio]  WITH CHECK ADD  CONSTRAINT [FK_CarroAcessorio_Acessorio] FOREIGN KEY([AcessorioId])
REFERENCES [dbo].[Acessorio] ([AcessorioId])
GO
ALTER TABLE [dbo].[CarroAcessorio] CHECK CONSTRAINT [FK_CarroAcessorio_Acessorio]
GO
ALTER TABLE [dbo].[CarroAcessorio]  WITH CHECK ADD  CONSTRAINT [FK_CarroAcessorio_Carro] FOREIGN KEY([CarroId])
REFERENCES [dbo].[Carro] ([CarroId])
GO
ALTER TABLE [dbo].[CarroAcessorio] CHECK CONSTRAINT [FK_CarroAcessorio_Carro]
GO
USE [master]
GO

use Cars

insert Carro(Marca, DataCompra, Descricao, Cor)
values
	('Volkswagem', '2010-01-13', 'Gol', 0),
	('Fiat', '2015-02-14', 'Uno', 1),
	('Honda', '2016-03-15', 'Fit', 2),
	('Ford', '2017-04-16', 'Focus', 3),
	('Renault', '2018-05-17', 'Sandero', 4),
	('Chevrolet', '2011-06-18', 'Corsa', 5)

insert Acessorio(Nome)
values
	('Capa Banco'),
	('Led Neon'),
	('CD-Player'),
	('Película Protetora'),
	('Adesivo'),
	('Lixeira'),
	('Velocímetro')

insert CarroAcessorio(CarroId, AcessorioId)
values
	(1, 1),
	(1, 2),
	(1, 6),
	(2, 3),
	(2, 4),
	(3, 5),
	(3, 6),
	(3, 7),
	(4, 7),
	(4, 1),
	(5, 2),
	(5, 3),
	(5, 1),
	(6, 4),
	(6, 5)