@{
    ViewData["Title"] = "Consulta de carros";
}

<h2>Consulta de carros</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Descrição/Marca:</label>
                <input name="consulta" class="form-control" />
            </div>
            @ViewData["Message"]
            <div class="form-group">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>