@model Cars.Models.Acessorio

@{
    ViewData["Title"] = "Detalhes do acessório";
}

<h2>Detalhes do acessório</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcessorioId)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcessorioId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>